<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.baselib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".scaner.ActivityScanerCode"/>
        <!-- 相册 -->
        <activity android:name=".imageSelect.MImageSelectorActivity"/>
        <activity android:name=".imageSelect.MImagePreviewActivity"/>
    </application>
</manifest>
